.container {
  width: 1000px;
  margin: 30px auto;
  color:white;
  text-align:center;
}

body{
  background-image:url(./stopwatch.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}
button{
  background-color: transparent;
  color:white;
  border: solid 1px white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
}
#stopwatch{
  font-size: 2em;
}
h1{
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
  font-weight:bold;
}
#Laps{
  font-weight: 100;
  font-size: 2.6em;
}
